# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Tests

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.8, 3.11]
        latest-brian: [true, false]

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install brian2modelfitting
      run: |
        python -m pip install --upgrade pip wheel
        python -m pip install flake8 pytest-coverage pytest-timeout coveralls
        python -m pip install ".[all]"
    - name: Update to latest Brian development version
      run: python -m pip install --extra-index-url https://test.pypi.org/simple/ --pre --upgrade Brian2
      if: ${{ matrix.latest-brian }}
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Test with pytest
      run: |
        pytest --timeout=60 --cov=brian2modelfitting
    - name: Upload coverage to coveralls
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      if: ${{ matrix.python-version == '3.8' && !matrix.latest-brian }}
      run: coveralls --service=github

